nazodb/db.sqlite3
todoapp/db.sqlite3
helloworld/helloworldproject/db.sqlite3
nazodb_negishi0221/db.sqlite3
nazodb/static/node_modules
nazodb/static/package-lock.json

nazodb/nazoapp/__pycache__
nazodb/nazoapp/migrations/__pycache__

# Environments
.env
# .env.prodを.gitignoreする
.env.prod
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
nazodb/django/venv
nazodb/.idea
nazodb/django/*/__pycache__
nazodb/django/*/*/__pycache__
# ignore static files
static/
# ignore migration files
# migrations/
