{% extends 'base.html' %}

{% block content %}
  <!-- スライダーのコンテナ -->
  <h3 class="my-4 text-xl font-semibold text-gray-300">
    最新ランキング
  </h3>
  {% include "riddle_ranking.html" %}
  <!-- Card Blog -->
  <div class="my-4 flex justify-between">
    <h3 class="text-xl font-semibold text-gray-300">
      新着一覧
    </h3>
    <a href="{% url 'list' %}">
      <h3 class="text-xl font-semibold text-gray-300 hover:text-white">
        もっと見る
      </h3>
    </a>
  </div>
  <!-- Vueテスト用 -->
  <div class="bg-white p-8 " id="app">
    <button class="" type="button" v-on:click="getRiddleList">再取得</button>
    <p id="title">[[ msg ]]</p>
    <form>
      <select id="type" v-model="selectType" v-on:change="filterRiddle">
        <option value="web">Web</option>
        <option value="line">LINE</option>
      </select>
    </form>
    <h1>謎一覧</h1>
    <ul class="">
      <li class="" v-for="riddle in this.riddle_list" :key="riddle.id">
        [[ riddle.name ]]
      </li>
    </ul>
  </div>

  {% include "riddle_list.html" %}
  <!-- End Grid -->
  <!-- End Card Blog -->
  <script>
    const App = {
      data() {
          return {
            msg: "Welcome",
            riddle_list: [],
            selectType: ""
          }
      },
      //ムスタッシュ記法を変更
      compilerOptions: {
          delimiters: ['[[', ']]'],
      },
      // HTMLの読み込み完了時に実行される
      mounted () {
        console.log("mounted")
        this.getRiddleList()
      },
      // これは任意の関数
      methods: {
        sayHello(){
          this.msg = "Hello!"
        },
        getRiddleList(type) {
          if (!type) {
            type = ""
          }
          axios.get(`/api/v2/ranking/?type=${type}`)
          .then((res) => {
            console.log(res)
            this.riddle_list = res.data
          })
        },
        filterRiddle() {
          console.log(this.selectType)
          this.getRiddleList(this.selectType)
        }
      },
    }
    Vue.createApp(App).mount('#app')
  </script>
{% endblock content %}

